<div class="row border-bottom">
	<a href="<%= root_path %>">
	    <nav class="navbar nav-logotype" role="navigation" style="margin-bottom: 0">
	        <h5 class="nav-logotype__subtitle">A<span>M</span>BIENTAL</h5>
	        <h5 class="nav-logotype__title">A<span>W</span>ARENESS</h5>
	    </nav>
    </a>
</div>
